services:
  - type: static
    name: aetherandstones
    buildCommand: pnpm build
    staticPublishPath: ./dist
    headers:
      - path: /*
        name: X-Robots-Tag
        value: noindex
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

