.ui-heading {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-wrap: balance;
}

.ui-heading--h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.ui-heading--h2 {
  font-size: 2.25rem;
  line-height: 1.3;
}

.ui-heading--h3 {
  font-size: 1.875rem;
  line-height: 1.4;
}

.ui-heading--h4 {
  font-size: 1.5rem;
  line-height: 1.4;
}

.ui-heading--h5 {
  font-size: 1.25rem;
  line-height: 1.5;
}

.ui-heading--h6 {
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .ui-heading--h1 {
    font-size: 2rem;
  }
  
  .ui-heading--h2 {
    font-size: 1.75rem;
  }
  
  .ui-heading--h3 {
    font-size: 1.5rem;
  }
}




